$colAirbnb: #fd5c63;
$colAmazon: #ff9900;
$colAndroid: #a4c639;
$colBehance: #1769ff;
$colFacebook: #1877f2;
$colGithub: #4078c0;
$colJavacript: #f7df1e;
$colSnapchat: #fffc00;
$colStackoverflow: #bcbbbb;
$colTwitter: #1da1f2;
$colUbuntu: #77216f;
$colVimeo: #1ab7ea;

